<mtapp:setting
    id="data_api_php_cache_dir"
    label="<__trans phrase="Cache Directory Name">"
    hint="<__trans phrase="Make this directory in mt-static/support">"
    show_hint="1">

    <!-- input:text -->
    <input type="text" name="data_api_php_cache_dir" id="data_api_php_cache_dir" class="text" value="<mt:var name="data_api_php_cache_dir" escape="html">" mt:watch-change="1" autocomplete="off" />

</mtapp:setting>

